/* Banner */
.banner {
  height: 350px;
  overflow: hidden;
}
.banner-wrap {
  width: calc(100% + 170px);
  height: 100%;
}
.banner_img {
  display: inline-block;
  height: 100%;
  width: 25%;
  margin-left: -81px;
  background-size: 100% 100% !important;
  background-repeat: no-repeat;
}

.banner_img.opened {
  width: 50%;
}
.banner-wrap.banner-4-images {
  width: calc(100% + 360px);
}

.banner-4-images .banner_img {
  width: 20%;
}
.banner-4-images .banner_img.opened {
  width: 40%;
}

/* Images for banner */
.banner_img0 {
  margin-left: 0;
}

@media screen and (max-width: 600px) {
  .banner {
    height: 200px;
  }
  .banner_img {
    margin-left: -25px;
  }
  .banner-wrap {
    width: calc(100% + 88px);
  }
  .banner-wrap.banner-4-images {
    width: calc(100% + 113px);
  }
}
