/* Banner */
.banner {
  height: 350px;
  overflow: hidden;
}
.banner-wrap {
  width: calc(100% + 163px + 30px);
  height: 100%;
}
.banner_img {
  display: inline-block;
  height: 100%;
  width: 25%;
  background-size: 100% 100% !important;
  background-repeat: no-repeat;
  transition: 0.3s;
  cursor: pointer;
  transition-timing-function: step-end;
}

.banner_img0 {
  margin-left: 0 !important;
}

.banner_img.opened {
  width: 50%;
}

.banner-4-images .banner_img.opened {
  width: 40%;
}

.banner_img {
  margin-left: -170px;
}

.banner_img0 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  margin-left: 0;
}
.banner_img1 {
  clip-path: polygon(15% 0, 100% 0, 85% 100%, 0 100%);
}
.banner_img2 {
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
}

.banner_img0.opened {
  clip-path: polygon(0 0, 100% 0, 91% 100%, 0 100%);
}
.banner_img1.opened,
.banner_img2.opened {
  clip-path: polygon(15% 0, 100% 0, 85% 100%, 0 100%);
}
.banner_closing_img {
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
}
.banner_img0 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  margin-left: 0;
}
.banner_img1 {
  clip-path: polygon(15% 0, 100% 0, 85% 100%, 0 100%);
}
.banner_img2 {
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
}

.banner_img0.opened {
  clip-path: polygon(0 0, 100% 0, 91% 100%, 0 100%);
}
.banner_img1.opened,
.banner_img2.opened {
  clip-path: polygon(15% 0, 100% 0, 85% 100%, 0 100%);
}
.banner_closing_img {
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
}

.banner_closing_img.opened {
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
}

.banner-wrap {
  width: calc(100% + 324px + 30px);
}

.banner-4-images .banner_img {
  width: 20%;
  margin-left: -140px;
}

.banner-wrap.banner-4-images {
  width: calc(100% + 420px + 30px);
}

@media screen and (max-width: 1200px) {
  .banner {
    height: 250px;
  }

  .banner_img {
    margin-left: -120px;
  }

  .banner-wrap {
    width: calc(100% + 240px + 30px);
  }

  .banner-4-images .banner_img {
    margin-left: -120px;
  }

  .banner-wrap.banner-4-images {
    width: calc(100% + 360px + 40px);
  }
}

@media screen and (max-width: 700px) {
  .banner {
    height: 230px;
  }
  .banner-wrap {
    width: calc(100% + 160px);
  }
  .banner_img {
    width: 33%;
    margin-left: -80px;
  }
  .banner-4-images .banner_img {
    width: 25%;
    margin-left: -70px;
  }

  .banner-wrap.banner-4-images {
    width: calc(100% + 210px + 20px);
  }
}

@media screen and (max-width: 450px) {
  .banner {
    height: 190px;
  }

  .banner_img {
    margin-left: -54px;
  }
  .banner-wrap {
    width: calc(100% + 108px + 20px);
  }

  .banner-4-images .banner_img {
    margin-left: -50px;
  }

  .banner-wrap.banner-4-images {
    width: calc(100% + 150px + 20px);
  }
}
