<!-- Banner -->
<section class="banner">
  <div
    *ngIf="windowWidth > 700"
    class="banner-wrap"
    [ngClass]="{ 'banner-4-images': images.length == 4 }"
  >
    <div
      *ngFor="let img of images; let i = index"
      [style.background]="
        i == activeImage ? 'url(' + img.opened + ')' : 'url(' + img.normal + ')'
      "
      class="banner_img{{ i }} banner_img"
      (click)="bannerClick(i, $event)"
      [ngClass]="{
        opened: i == activeImage,
        banner_closing_img: i == images.length - 1
      }"
    ></div>
  </div>

  <div
    *ngIf="windowWidth < 700"
    class="banner-wrap"
    [ngClass]="{ 'banner-4-images': images.length == 4 }"
  >
    <div
      *ngFor="let img of images; let i = index"
      [style.background]="'url(' + img.normal + ')'"
      class="banner_img{{ i }} banner_img"
      [ngClass]="{
        banner_closing_img: i == images.length - 1
      }"
      (click)="bannerClick(i, $event)"
    ></div>
  </div>
</section>
